body {
  font-family: Verdana;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Make the main axis vertical */
  min-height: 100vh; /* Set minimum height to viewport height */
  background-color: #FFEBCD; /* Background color */
}

aside {
  background-color: rgba(245, 245, 220, 0.8); /* Tan with 80% opacity */
  padding: 15px;
  margin-bottom: 20px; /* Add margin for spacing */
  text-align: center;
}

section {
  flex: 1; /* Allow the main content to take up the remaining space */
  padding: 20px; /* Add padding for better readability */
}

#map {
  height: 400px; /* Maintain the map height */
}

h1, h2, h3 {
  color: #333; /* Set heading color */
}

p {
  color: #555; /* Set body text color */
}
p2 {
  color: #F8F8FF; /* Set body text color */
  font-size: 9pt;
}

#reachIdInput {
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

button:hover {
  background-color: #0056b3;
}

#forecast-container {
  display: none;
  margin-top: 20px;
  border: 1px solid #dee2e6; /* Light gray border */
  padding: 20px;
  border-radius: 8px;
  background-color: white; /* White background for the forecast area */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
